.light-theme {
    $color-1: #CCD5AE;
    $color-2: #E9EDC9;
    $color-3: #FEFAE0;
    $color-4: #FAEDCD;
}

.dark-theme {
    $color-1: #4C0033;
    $color-2: #790252;
    $color-3: #AF0171;
    $color-4: #E80F88;
}