@import '_colors';

$input-border-color: #999;
$input-text-color: #666;

input {
    border: 1px solid $input-border-color;
    border-radius: 0;
    outline: 0;
    color: $input-text-color;
    padding: 6px;
}