.font-extra-small {
    font-size: 10px;
}

.font-small {
    font-size: 12px;
}

.font-medium {
    font-size: 14px;
}

.font-large {
    font-size: 18px;
}

.font-extra-large {
    font-size: 25px;
}

.font-weight-thin {
    font-weight: 300;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-thick {
    font-weight: 700;
}