@use './_helpers/_margins/margins';
@use './_helpers/_paddings/paddings';

// Font
.font-extra-small {
    font-size: 10px;
}

.font-small {
    font-size: 12px;
}

.font-medium {
    font-size: 14px;
}

.font-large {
    font-size: 18px;
}

.font-extra-large {
    font-size: 25px;
}

.font-weight-thin {
    font-weight: 300;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-thick {
    font-weight: 700;
}
// End Font

// Buttons
.button {
    cursor: pointer;
    display: flex;
    place-content: center;
    place-items: center;
    padding: 4px;
}

button.button {
    border: 0;
    outline: 0;
}
// End Buttons
