@use './_layout/positions';

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

// Styling for positioning

// Styling for tables

nav.navbar {
    display: flex;
    width: 100%;
}
