@use './_layout/positions';
@use './_layout/tables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

nav.navbar {
    display: flex;
    width: 100%;
}
