*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* Table */
.table-responsive {
    overflow-x: auto;
}

.table-responsive > table {
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

table > thead {
    background-color: darkgray;
    color: black;
}

table > thead > tr > th:not(:first-child) {
    padding: 4px 2px;
}

table > tbody > tr {
    transition: all 250ms linear;
}

table > tbody > tr:nth-child(even) {
    background-color: var(--color-3);
}

table > tbody > tr:hover {
    background-color: var(--color-4);
}

table > tbody > tr > td {
    text-align: center;
    padding: 12px 18px;
}

table > tbody > tr > td:nth-child(1),
table > tbody > tr > td:nth-child(2) {
    white-space: normal;
    max-width: 180px;
}
/* End table */
