/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.light-theme .bg-color-1 {
  background-color: var(#CCD5AE);
}
.light-theme .txt-color-1 {
  color: var(#CCD5AE);
}
.light-theme .bg-color-2 {
  background-color: var(#E9EDC9);
}
.light-theme .txt-color-2 {
  color: var(#E9EDC9);
}
.light-theme .bg-color-3 {
  background-color: var(#FEFAE0);
}
.light-theme .txt-color-3 {
  color: var(#FEFAE0);
}
.light-theme .bg-color-4 {
  background-color: var(#FAEDCD);
}
.light-theme .txt-color-4 {
  color: var(#FAEDCD);
}

.dark-theme .bg-color-1 {
  background-color: var(#4C0033);
}
.dark-theme .txt-color-1 {
  color: var(#4C0033);
}
.dark-theme .bg-color-2 {
  background-color: var(#790252);
}
.dark-theme .txt-color-2 {
  color: var(#790252);
}
.dark-theme .bg-color-3 {
  background-color: var(#AF0171);
}
.dark-theme .txt-color-3 {
  color: var(#AF0171);
}
.dark-theme .bg-color-4 {
  background-color: var(#E80F88);
}
.dark-theme .txt-color-4 {
  color: var(#E80F88);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.light-theme .bg-color-1 {
  background-color: var(#CCD5AE);
}
.light-theme .txt-color-1 {
  color: var(#CCD5AE);
}
.light-theme .bg-color-2 {
  background-color: var(#E9EDC9);
}
.light-theme .txt-color-2 {
  color: var(#E9EDC9);
}
.light-theme .bg-color-3 {
  background-color: var(#FEFAE0);
}
.light-theme .txt-color-3 {
  color: var(#FEFAE0);
}
.light-theme .bg-color-4 {
  background-color: var(#FAEDCD);
}
.light-theme .txt-color-4 {
  color: var(#FAEDCD);
}

.dark-theme .bg-color-1 {
  background-color: var(#4C0033);
}
.dark-theme .txt-color-1 {
  color: var(#4C0033);
}
.dark-theme .bg-color-2 {
  background-color: var(#790252);
}
.dark-theme .txt-color-2 {
  color: var(#790252);
}
.dark-theme .bg-color-3 {
  background-color: var(#AF0171);
}
.dark-theme .txt-color-3 {
  color: var(#AF0171);
}
.dark-theme .bg-color-4 {
  background-color: var(#E80F88);
}
.dark-theme .txt-color-4 {
  color: var(#E80F88);
}

input {
  border: 1px solid black;
  border-radius: 0;
  outline: 0;
  padding: 5px;
}

.font-extra-small {
  font-size: 10px;
}

.font-small {
  font-size: 12px;
}

.font-medium {
  font-size: 14px;
}

.font-large {
  font-size: 18px;
}

.font-extra-large {
  font-size: 25px;
}

.font-weight-thin {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-thick {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
