.position-fixed {
    position: fixed;
}

.position-static {
    position: static;
}

.position-relative {
    position: relative;
}

.position-inherit {
    position: inherit;
}

.position-sticky {
    position: sticky;
}

.position-absolute {
    position: absolute;
}

.position-initial {
    position: initial;
}

.position-unset {
    position: unset;
}