.pos-fixed {
    position: fixed;
}

.pos-static {
    position: static;
}

.pos-relative {
    position: relative;
}

.pos-inherit {
    position: inherit;
}

.pos-sticky {
    position: sticky;
}

.pos-absolute {
    position: absolute;
}

.pos-initial {
    position: initial;
}

.pos-unset {
    position: unset;
}