// Font-Size
.font-xxs {
    font-size: 0.5em;
}

.font-xs {
    font-size: 0.75em;
}

.font-s {
    font-size: 1.075em;
}

.font-m {
    font-size: 1.4em;
}

.font-l {
    font-size: 1.9em;
}

.font-xl {
    font-size: 2.3em;
}

.font-xxl {
    font-size: 3.0em;
}
// End Font-Size

// Font-Weight
.font-100 {
    font-weight: 100;
}

.font-200 {
    font-weight: 200;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}

.font-900 {
    font-weight: 900;
}
// End Font-Weight
