// Font-Size
$xxs: 0.5em;
$xs: 0.75em;
$s: 1.075em;
$m: 1.4em;
$l: 1.9em;
$xl: 2.3em;
$xxl: 3.0em;

.font-lighter {
    font-weight: lighter;
}

.font-xxs {
    font-size: $xxs;
}

.font-xs {
    font-size: $xs;
}

.font-s {
    font-size: $s;
}

.font-m {
    font-size: $m;
}

.font-l {
    font-size: $l;
}

.font-xl {
    font-size: $xl;
}

.font-xxl {
    font-size: $xxl;
}
// End Font-Size

// Font-Weight
.font-100 {
    font-weight: 100;
}

.font-200 {
    font-weight: 200;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}

.font-900 {
    font-weight: 900;
}

.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}
// End Font-Weight
