.margin-a {
    margin: auto;
}

.margin-n {
    margin: none;
}

.margin-xxs {
    margin: 3px;
}

.margin-xs {
    margin: 7px;
}

.margin-s {
    margin: 15px;
}

.margin-m {
    margin: 23px;
}

.margin-l {
    margin: 32px;
}

.margin-xl {
    margin: 42px;
}

.margin-xxl {
    margin: 60px;
}

// Minus modifier ( -- )
.margin--xxs {
    margin: -3px;
}

.margin--xs {
    margin: -7px;
}

.margin--s {
    margin: -15px;
}

.margin--m {
    margin: -23px;
}

.margin--l {
    margin: -32px;
}

.margin--xl {
    margin: -42px;
}

.margin--xxl {
    margin: -60px;
}