.margin-left-a {
    margin-left: auto;
}

.margin-left-n {
    margin-left: none;
}

.margin-left-xxs {
    margin-left: 3px;
}

.margin-left-xs {
    margin-left: 7px;
}

.margin-left-s {
    margin-left: 15px;
}

.margin-left-m {
    margin-left: 23px;
}

.margin-left-l {
    margin-left: 32px;
}

.margin-left-xl {
    margin-left: 42px;
}

.margin-left-xxl {
    margin-left: 60px;
}

// Minus modifier ( -- )
.margin-left--xxs {
    margin-left: -3px;
}

.margin-left--xs {
    margin-left: -7px;
}

.margin-left--s {
    margin-left: -15px;
}

.margin-left--m {
    margin-left: -23px;
}

.margin-left--l {
    margin-left: -32px;
}

.margin-left--xl {
    margin-left: -42px;
}

.margin-left--xxl {
    margin-left: -60px;
}