.margin-right-a {
    margin-right: auto;
}

.margin-right-n {
    margin-right: none;
}

.margin-right-xxs {
    margin-right: 3px;
}

.margin-right-xs {
    margin-right: 7px;
}

.margin-right-s {
    margin-right: 15px;
}

.margin-right-m {
    margin-right: 23px;
}

.margin-right-l {
    margin-right: 32px;
}

.margin-right-xl {
    margin-right: 42px;
}

.margin-right-xxl {
    margin-right: 60px;
}

// Minus modifier ( -- )
.margin-right--xxs {
    margin-right: -3px;
}

.margin-right--xs {
    margin-right: -7px;
}

.margin-right--s {
    margin-right: -15px;
}

.margin-right--m {
    margin-right: -23px;
}

.margin-right--l {
    margin-right: -32px;
}

.margin-right--xl {
    margin-right: -42px;
}

.margin-right--xxl {
    margin-right: -60px;
}