.margin-top-a {
    margin-top: auto;
}

.margin-top-n {
    margin-top: none;
}

.margin-top-xxs {
    margin-top: 3px;
}

.margin-top-xs {
    margin-top: 7px;
}

.margin-top-s {
    margin-top: 15px;
}

.margin-top-m {
    margin-top: 23px;
}

.margin-top-l {
    margin-top: 32px;
}

.margin-top-xl {
    margin-top: 42px;
}

.margin-top-xxl {
    margin-top: 60px;
}

// Minus modifier ( -- )
.margin-top--xxs {
    margin-top: -3px;
}

.margin-top--xs {
    margin-top: -7px;
}

.margin-top--s {
    margin-top: -15px;
}

.margin-top--m {
    margin-top: -23px;
}

.margin-top--l {
    margin-top: -32px;
}

.margin-top--xl {
    margin-top: -42px;
}

.margin-top--xxl {
    margin-top: -60px;
}