.margin-y-axis-a {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-y-axis-n {
    margin-top: none;
    margin-bottom: none;
}

.margin-y-axis-xxs {
    margin-top: 3px;
    margin-bottom: 3px;
}

.margin-y-axis-xs {
    margin-top: 7px;
    margin-bottom: 7px;
}

.margin-y-axis-s {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-y-axis-m {
    margin-top: 23px;
    margin-bottom: 23px;
}

.margin-y-axis-l {
    margin-top: 32px;
    margin-bottom: 32px;
}

.margin-y-axis-xl {
    margin-top: 42px;
    margin-bottom: 42px;
}

.margin-y-axis-xxl {
    margin-top: 60px;
    margin-bottom: 60px;
}

// Minus modifier ( -- )
.margin-y-axis--xxs {
    margin-top: -3px;
    margin-bottom: -3px;
}

.margin-y-axis--xs {
    margin-top: -7px;
    margin-bottom: -7px;
}

.margin-y-axis--s {
    margin-top: -15px;
    margin-bottom: -15px;
}

.margin-y-axis--m {
    margin-top: -23px;
    margin-bottom: -23px;
}

.margin-y-axis--l {
    margin-top: -32px;
    margin-bottom: -32px;
}

.margin-y-axis--xl {
    margin-top: -42px;
    margin-bottom: -42px;
}

.margin-y-axis--xxl {
    margin-top: -60px;
    margin-bottom: -60px;
}