.margin-x-axis-a {
    margin-left: auto;
    margin-right: auto;
}

.margin-x-axis-n {
    margin-left: none;
    margin-right: none;
}

.margin-x-axis-xxs {
    margin-left: 3px;
    margin-right: 3px;
}

.margin-x-axis-xs {
    margin-left: 7px;
    margin-right: 7px;
}

.margin-x-axis-s {
    margin-left: 15px;
    margin-right: 15px;
}

.margin-x-axis-m {
    margin-left: 23px;
    margin-right: 23px;
}

.margin-x-axis-l {
    margin-left: 32px;
    margin-right: 32px;
}

.margin-x-axis-xl {
    margin-left: 42px;
    margin-right: 42px;
}

.margin-x-axis-xxl {
    margin-left: 60px;
    margin-right: 60px;
}

// Minus modifier ( -- )
.margin-x-axis--xxs {
    margin-left: -3px;
    margin-right: -3px;
}

.margin-x-axis--xs {
    margin-left: -7px;
    margin-right: -7px;
}

.margin-x-axis--s {
    margin-left: -15px;
    margin-right: -15px;
}

.margin-x-axis--m {
    margin-left: -23px;
    margin-right: -23px;
}

.margin-x-axis--l {
    margin-left: -32px;
    margin-right: -32px;
}

.margin-x-axis--xl {
    margin-left: -42px;
    margin-right: -42px;
}

.margin-x-axis--xxl {
    margin-left: -60px;
    margin-right: -60px;
}